body {
    font: 13px Helvetica, Arial;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
    word-break: break-all;
}

#header,
#footer,
#content {
    position: absolute;
    left: 0;
    width: 100%;
}

#header {
    top: 0;
    height: 50px;
}

#content {
    top: 55px;
    bottom: 80px;
    overflow: auto;
}

#footer {
    bottom: 0;
    height: 70px;
    background: #e7e7e7;
}

.primary {
    color: #444 !important;
}

.secondary {
    color: #8C2624 !important;
}